$primary-color: hsl(229, 39%, 20%);
$primary-muted-color: hsl(229, 39%, 12%);
$secondary-color: hsl(165, 85%, 40%);
$secondary-muted-color: hsl(165, 85%, 30%);
$succes-color: #fa891c;
$danger-color: #f53939;
$text-color: #eee;
